{% assign feed_path = "/feed.xml" %}
{% if site.feed and site.feed.path %}
  {% assign feed_path = site.feed.path %}
{% endif %}
Copyright &copy; 2019 {{ site.author }}. Subscribe via <a href="{{ feed_path | absolute_url }}">RSS</a><br>
Contents under the <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0</a> license. <a href="https://gitlab.com/ema-pe/ema-pe.gitlab.io">Source code</>
