---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "whiteglass";

/* Custom font for admonitions; the selected fonts are taked from Font Awesome */

@font-face {
  font-family: 'admonitions';
  src:
    url('/assets/fonts/admonitions.ttf?f1gnxw') format('truetype'),
    url('/assets/fonts/admonitions.woff?f1gnxw') format('woff'),
    url('/assets/fonts/admonitions.svg?f1gnxw#admonitions') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'admonitions' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span.icon>.fa {
    cursor: default;
}
.admonitionblock td.icon {
    text-align: center;
    width: 80px;
}
.admonitionblock td.icon [class^="fa icon-"] {
    font-size: 2.5em;
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
    cursor: default;
}
.admonitionblock td.icon .icon-note:before {
    content: "\f044";
    color: #19407c;
}
.admonitionblock td.icon .icon-tip:before {
    content: "\f0eb";
    text-shadow: 1px 1px 2px rgba(155,155,0,.8);
    color: #111;
}
.admonitionblock td.icon .icon-warning:before {
    content: "\f071";
    color: #bf6900;
}
.admonitionblock td.icon .icon-caution:before {
    content: "\f06d";
    color: #bf3400;
}
.admonitionblock td.icon .icon-important:before {
    content: "\f06a";
    color: #bf0000;
}
